.container {
    padding-left: 10px;
}


.heading-1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: steelblue;
    padding-top: 20px;
    padding-left: 4px;
    padding-bottom: 2px;
    border-bottom: 2px solid steelblue;
}

.main {
    padding-left: 12px;
}

.heading-3 {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;
}

.heading-2 {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
}

.contact-box {
    border: 5px solid purple;
    width: 350px;
    height: 100px;
    padding-top: 10px;
}

.contact-box a {
    color: orange;
}
